.btn-submit {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1e3a8a;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.2s ease;
    height: auto;
}

.btn-submit:hover{
    background-color: #2a84ea;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    box-sizing: border-box;
    overflow-x: hidden;
}

.error-format-inputs{
    color: red;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
}
