.event-creation h1 {
    color: #1e3a8a;
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
}

.link-return {
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
    font-size: 22px;
}
.link-return a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: #4fa3ff;
    transition: width 0.3s ease;
}

.link-return a:hover::after {
    width: 100%;
}

.link-return:hover{
    color: #9fc5ff;
}

.div_welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding:  1rem 2rem;
    background-color: #0c1d57;
}

.div_welcome img{
    height: 100px;
    width: auto;
    animation: slideInRight 1s ease;
}

@media (max-width: 768px) {
    .div_welcome{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding:  0.5rem 1rem;
        background-color: #0c1d57;
    }

    .div_welcome img{
        height: 100px;
        width: auto;
    }

    .event-creation h1 {
        font-size: 2rem;
    }

    .event-creation{
        grid-template-columns: 1fr; 
        padding: 1rem;
    }
}