.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.btn_submit {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1e3a8a;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn_submit:hover {
    background-color: #274bb1;
}

.a-recovery-password{
    color: gray;
}

.a-register {
    color: blue;
}