.title-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    color: #003366;
}

.link-to-menu{
    color: white;
    font-size: 1.75rem;
}

@media (max-width: 768px) {
    .title-page {
        font-size: 3rem;
        align-items: center;
    }
}