.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 400px;
    min-width: 250px;
    margin: 0 auto;
    padding-bottom: 1.25rem;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-label {
    font-weight: 600;
    margin-bottom: 0.4rem;
    color: #222;
    text-align: center; 
}

.input-field {
    width: 100%;
    padding: 10px 40px 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    outline: none;
    transition: all 0.2s ease;
}

.btn-toggle-password {
    position: absolute;
    right: -35px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.input-field[type="text"] {
    border-color: #1e3a8a; 
    border-radius: 10px;
    background-color: #f9fafb; 
}

.input-field[type="text"]:focus {
    border-color: #3b82f6; 
    box-shadow: 0 0 6px rgba(59, 130, 246, 0.5);
}

.input-field[type="text"]:hover {
    border-color: #274bb1;
}

.input-field[type="email"] {
    border-color: #1e3a8a; 
    border-radius: 10px;
    background-color: #f9fafb; 
}

.input-field[type="email"]:focus {
    border-color: #3b82f6; 
    box-shadow: 0 0 6px rgba(59, 130, 246, 0.5);
}

.input-field[type="email"]:hover {
    border-color: #274bb1;
}

.input-field[type="date"] {
    border-color: #1e3a8a; 
    border-radius: 10px;
    background-color: #f9fafb; 
}

.input-field[type="date"]:focus {
    border-color: #3b82f6; 
    box-shadow: 0 0 6px rgba(59, 130, 246, 0.5);
}

.input-field[type="date"]:hover {
    border-color: #274bb1;
}

.input-field[type="password"] {
    border-color: #1e3a8a; 
    border-radius: 10px;
    background-color: #f9fafb; 
}

.input-field[type="password"]:focus {
    border-color: #3b82f6; 
    box-shadow: 0 0 6px rgba(59, 130, 246, 0.5);
}

.input-field[type="password"]:hover {
    border-color: #274bb1;
}

.input-field[type="checkbox"]{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 2px 0;
    background: transparent;
    height: 15px;
    width: 15px;
    margin-left: 9.5rem;
}

.input-field[type="checkbox"]:focus {
    border-color: #3b82f6; 
    box-shadow: 0 0 6px rgba(59, 130, 246, 0.5);
}

.input-field[type="checkbox"]:hover {
    border-color: #274bb1;
}

.input-field[type="file"] {
    border: 2px dashed #1e3a8a;
    border-radius: 10px;
    background-color: #f9fafb;
    padding: 12px;
    font-size: 1rem;
    width: auto;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.input-field[type="file"]:hover {
    border-color: #3b82f6;
    background-color: #f1f5ff;
    box-shadow: 0 0 8px rgba(59,130,246,0.3);
}

.input-field[type="file"]:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 6px rgba(37,99,235,0.5);
}

.input-field[type="file"]::-webkit-file-upload-button {
    background-color: #1e3a8a;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.input-field[type="file"]::-webkit-file-upload-button:hover {
    background-color: #274bb1;
    transform: translateY(-1px);
}

.input-field[type="file"]::file-selector-button:hover {
    background-color: #274bb1;
}


.error-input-message{
    color: #e63946;
    font-size: 0.85rem;
    margin-top: 4px;
}