.ticket-details {
  max-width: 420px;
  margin: 0 auto;
  padding: 1.5rem;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;   
  margin-top: -3%;
}


.btn-back {
  display: block;        
  margin: 0 auto 1.2rem; 
  color: #4f46e5;
  font-weight: 500;
  text-decoration: none;
  text-align: center;    
  transition: 0.2s;
}


.btn-back:hover {
  color: #3730a3;
}

.event-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  color: #111827;
}

.ticket-content {
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  text-align: center;
  display: flex;
  flex-direction: column; 
  gap: 1rem;              
  align-items: center;    
}


.ticket-content h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #374151;
}

.btn-download {
  padding: 0.6rem 1.2rem;
  background: #111827;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 500;
  transition: 0.2s;
  margin-top: 5%;
}

.btn-download:hover {
  background: #000000;
}

@media (max-width: 480px) {
  .ticket-details {
    padding: 1rem;
  }

  .ticket-content {
    padding: 1.2rem;
  }
}
