.div_welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding:  1rem 2rem;
    background-color: #0c1d57;
}

.div_welcome img{
    height: 100px;
    width: auto;
    animation: slideInRight 1s ease;
}

Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px #003366;
}

.form-recovery .input-wrapper {
    width: 80%;           
    max-width: 600px;
    height: auto;
    margin: 0 auto;     
}

.form-recovery .input-wrapper input {
    width: 100%;         
    padding: 0.8rem 1rem;
    height: 20px;
    font-size: 1.15rem;
}

.form-recovery .input-wrapper label {
    width: 100%;         
    padding: 0.8rem 1rem;
    height: 20px;
    font-size: 1.5rem;
}


.div_instructions{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: #003366;
}

.div_instructions h2{
    color: white;
    font-size: 2.5rem;
    border-bottom: 5px solid white;
}

.div_instructions p{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.btn_submit {
    width: 20%;
    padding: 10px;
    height: auto;
    font-size: 1.15rem;
    border: none;
    background-color: #1e3a8a;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.error-format-inputs{
    color: red;
    grid-column: 1/-1;
    text-align: center;
    font-size: 1.2rem;
}
