.div_welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding:  1rem 2rem;
    background-color: #0c1d57;
}

.div_welcome img{
    height: 100px;
    width: auto;
    animation: slideInRight 1s ease;
}

.form-recovery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px #003366;
}

.form-recovery .input-wrapper {
    width: 80%;           
    max-width: 600px;
    height: auto;
    margin: 0 auto;     
}

.form-recovery .input-wrapper input {
    width: 100%;         
    padding: 0.8rem 1rem;
    margin-top: 1.1rem;
    height: 20px;
    font-size: 1.15rem;
}

.form-recovery .input-wrapper label {
    width: 100%;         
    padding: 0.8rem 1rem;
    height: 20px;
    font-size: 1.5rem;
}

.form-recovery .input-wrapper EyeOff {
    size: 50px;
}

.div_instructions{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: #003366;
}

.div_instructions h2{
    color: white;
    font-size: 2.5rem;
    border-bottom: 5px solid white;
}

.div_instructions p{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.btn-submit-recover {
    width: 20%;
    padding: 10px;
    height: auto;
    font-size: 1.15rem;
    border: none;
    background-color: #1e3a8a;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.error-format-inputs{
    color: red;
    grid-column: 1/-1;
    text-align: center;
    font-size: 1.2rem;
}

.p-indications{
    font-size: 1.25rem;
    text-align: center;
}

@media (max-width: 768px) {

    .div_welcome img {
        height: 80px;
    }

    Form {
        width: 95%;
        padding: 1rem;
    }

    .form-recovery .input-wrapper {
        width: 100%;
    }

    .div_instructions h2 {
        font-size: 2rem;
    }

    .div_instructions p {
        font-size: 1.2rem;
    }

    .btn_submit {
        width: 40%;
        font-size: 1rem;
    }

}
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
