.div_welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding:  1rem 2rem;
    background-color: #0c1d57;
}

.div_welcome img{
    height: 100px;
    width: auto;
    animation: slideInRight 1s ease;
}

@keyframes slideInRight {
    0% { opacity: 0; transform: translateX(50px); }
    100% { opacity: 1; transform: translateX(0); }
}

@media (max-width: 768px) {
    .div_welcome{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding:  0.5rem 1rem;
        background-color: #0c1d57;
    }

    .div_welcome h1{
        color: white;
        font-size: 50px;
    }

    .div_welcome img{
        height: 100px;
        width: auto;
    }

}

@media (max-width: 480px) {
    .div_welcome{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding:  0.5rem 1rem;
        background-color: #0c1d57;
    }

    .div_welcome img{
        height: 70px;
        width: auto;
    }

}